@import "tailwindcss";

:root {
  --spacing: 0.25rem;
  --color-white: #ffffff;
  --color-blue-400: #60a5fa;
}

.text-white {
  color: var(--color-white);
}
.py-2 {
  padding-block: calc(var(--spacing) * 2);
}
.px-1 {
  padding-inline: calc(var(--spacing) * 1);
}

.mb-3 {
  margin-bottom: calc(var(--spacing) * 3);
}

